<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="EnableSqlLog" value="1"/>
    <add key="AgentID" value="7" />
    <add key="corpid" value="wx4fff07646e8c3d22" />
    <add key="corpsecret" value="buRF5Nt7To3C9raxhnaUpIUdAMWAttvlzIgVHZSgHehDaPotn2g7eQWUG5RqCypK" />
  </appSettings>
  <connectionStrings>
    <add name="ServiceUrl1" connectionString="http://localhost/Service/Execute"/>
    <add name="ServiceUrl" connectionString="http://203.195.163.209:8080/Service/Execute"/>
  </connectionStrings>
</configuration>