<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="EnableSqlLog" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="ServiceUrl" connectionString="http://localhost/Service/Execute"/>
    <!--<add name="ServiceUrl" connectionString="http://203.195.163.209/Service/Execute"/>-->
  </connectionStrings>
</configuration>