@charset "UTF-8";

body {
	height: auto;
	background: #fff;
}
.trade-printer {width:210mm;margin:20px auto;}
	.trade-printer .operate {
		text-align: center;
		margin-bottom: 25px;
	}
	.trade-printer .info {
		font-size: 18px;
	}
	.trade-printer .info .sn {
		float: right;
		font-size: 14px;
	}

.trade-printer .table {
	margin: 0;
}
.trade-printer table th,.trade-printer table td {
	padding: 4px !important;
	font-size: 100% !important;
}
.trade-printer table .trade-checklist {
	padding: 0 !important;
}
.trade-printer table th {
	vertical-align: middle !important;
	text-align: center;
}
.trade-printer p {
	margin: 0;
}
.trade-printer label {
	font-weight: normal;
	margin: 0;
}
.trade-printer input[type="text"],.trade-printer textarea{
	border: none;
	border-bottom: 1px #8A8A8A solid;
	background: transparent;
	resize:none;
	overflow:hidden;
	color:#2000C5;
}
.trade-printer input[type="text"] {
	text-align: center;
}
.trade-printer input.td_input,.trade-printer textarea.td_input {
	border: none;
	width: 100%;
}
.trade-printer input[type="checkbox"]{
	margin: 0 0 0 2px;
	vertical-align: middle;
}
.text-write {
	font-family: '楷体';
}
.not-write {
	font-family: 'Microsoft Yahei', Arial,sans-serif;
}
.write-fengkong {
	line-height: 1.5em;
	min-height: 6em;
}

@media print {
	.trade-printer .operate {
		display: none;
	}
	.trade-printer input[type="text"],.trade-printer textarea {
		color:#000;
	}
}