<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!-- 数据库连接配置信息-->
  <providers resource="providers.config"/>  	
	<database>
    <provider name="SQLite3"/>
    <dataSource name="db" connectionString="Data Source=E:\AppLib\DreamWorkflow\src\Bin\db.db;Version=3;"/>
	</database>
  <!-- XML映射文件配置信息-->
	<sqlMaps>
    <sqlMap resource="Menu.xml" />
    <sqlMap resource="Menu_Role.xml" />
    <sqlMap resource="Post.xml" />
    <sqlMap resource="Role.xml" />
    <sqlMap resource="User.xml" />
    <sqlMap resource="User_Post.xml" />
    <sqlMap resource="User_Role.xml" />
    <sqlMap resource="UserInfo.xml" />
	</sqlMaps>
</sqlMapConfig>