
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>微信登录</title>
</head>
<body onload="redicrect();">

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
<script type="text/javascript">
    function redicrect()
    {
        location.href = "/index.html";
    }
</script>