<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="post" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <alias>
    <typeAlias alias="Menu" type="RiskMgr.Model.Menu" />
    <typeAlias alias="MenuQueryForm" type="RiskMgr.Form.MenuQueryForm" />
    <typeAlias alias="MenuUpdateForm" type="RiskMgr.Form.MenuUpdateForm" />
  </alias>
  <statements>
  <select id="QueryMenu" resultClass="Menu" parameterClass="MenuQueryForm">
    <isGreaterThan compareProperty="PageSize" compareValue="0">
    
    </isGreaterThan>
    SELECT * FROM `Menu` 
    <dynamic prepend="WHERE">
    <isNotNull prepend="AND" property="ID">
        `ID`=#ID#
    </isNotNull>
    <isNotNull prepend="AND" property="Name">
        `Name` LIKE '%$Name$%'
    </isNotNull>
    <isNotNull prepend="AND" property="Creator">
        `Creator`=#Creator#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_Start">
        `CreateTime`&gt;=#CreateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_End">
        `CreateTime`&lt;=#CreateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="Page">
        `Page`=#Page#
    </isNotNull>
    <isNotNull prepend="AND" property="ParentID">
        `ParentID`=#ParentID#
    </isNotNull>
    <isNotNull prepend="AND" property="Enabled">
        `Enabled`=#Enabled#
    </isNotNull>
    <isNotNull prepend="AND" property="Remark">
        `Remark` LIKE '%$Remark$%'
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_Start">
        `LastUpdateTime`&gt;=#LastUpdateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_End">
        `LastUpdateTime`&lt;=#LastUpdateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdator">
        `LastUpdator`=#LastUpdator#
    </isNotNull>
    </dynamic>
    <isNotNull property="PageSize">
    <isGreaterThan property="PageSize" compareValue="0">
     LIMIT #StartIndex#, #PageSize# 
    </isGreaterThan>
    </isNotNull>
  </select>
  <insert id="AddMenu" parameterClass="Menu">
  INSERT INTO `Menu`
  (
    `ID`,
    `Name`,
    `Creator`,
    `CreateTime`,
    `Page`,
    `ParentID`,
    `Enabled`,
    `Remark`,
    `LastUpdateTime`,
    `LastUpdator`
  )
  VALUES
  (
        #ID#,
        #Name#,
        #Creator#,
        #CreateTime#,
        #Page#,
        #ParentID#,
        #Enabled#,
        #Remark#,
        #LastUpdateTime#,
        #LastUpdator#
  )
  </insert>
  <update id="UpdateMenu" parameterClass="MenuUpdateForm">
  UPDATE `Menu`
    <dynamic prepend="SET">
        <isNotNull prepend="," property="Entity.Name">
        `Name`=#Entity.Name#
        </isNotNull>
        <isNotNull prepend="," property="Entity.Creator">
        `Creator`=#Entity.Creator#
        </isNotNull>
        <isNotNull prepend="," property="Entity.CreateTime">
        `CreateTime`=#Entity.CreateTime#
        </isNotNull>
        <isNotNull prepend="," property="Entity.Page">
        `Page`=#Entity.Page#
        </isNotNull>
        <isNotNull prepend="," property="Entity.ParentID">
        `ParentID`=#Entity.ParentID#
        </isNotNull>
        <isNotNull prepend="," property="Entity.Enabled">
        `Enabled`=#Entity.Enabled#
        </isNotNull>
        <isNotNull prepend="," property="Entity.Remark">
        `Remark`=#Entity.Remark#
        </isNotNull>
        <isNotNull prepend="," property="Entity.LastUpdateTime">
        `LastUpdateTime`=#Entity.LastUpdateTime#
        </isNotNull>
        <isNotNull prepend="," property="Entity.LastUpdator">
        `LastUpdator`=#Entity.LastUpdator#
        </isNotNull>
    </dynamic>
    <dynamic prepend="WHERE">
    <isNotNull prepend="AND" property="MenuQueryForm.ID">
        `ID`=#MenuQueryForm.ID#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.Name">
        `Name` LIKE '%$MenuQueryForm.Name$%'
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.Creator">
        `Creator`=#MenuQueryForm.Creator#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.CreateTime_Start">
        `CreateTime`&gt;=#MenuQueryForm.CreateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.CreateTime_End">
        `CreateTime`&lt;=#MenuQueryForm.CreateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.Page">
        `Page`=#MenuQueryForm.Page#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.ParentID">
        `ParentID`=#MenuQueryForm.ParentID#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.Enabled">
        `Enabled`=#MenuQueryForm.Enabled#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.Remark">
        `Remark` LIKE '%$MenuQueryForm.Remark$%'
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.LastUpdateTime_Start">
        `LastUpdateTime`&gt;=#MenuQueryForm.LastUpdateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.LastUpdateTime_End">
        `LastUpdateTime`&lt;=#MenuQueryForm.LastUpdateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="MenuQueryForm.LastUpdator">
        `LastUpdator`=#MenuQueryForm.LastUpdator#
    </isNotNull>
    </dynamic>
  </update>
  <delete id="DeleteMenu" parameterClass="MenuQueryForm">
    DELETE FROM `Menu` WHERE 1=1
    <isNotNull prepend="AND" property="ID">
        `ID`=#ID#
    </isNotNull>
    <isNotNull prepend="AND" property="Name">
        `Name`=#Name#
    </isNotNull>
    <isNotNull prepend="AND" property="Creator">
        `Creator`=#Creator#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_Start">
        `CreateTime`&gt;=#CreateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_End">
        `CreateTime`&lt;=#CreateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="Page">
        `Page`=#Page#
    </isNotNull>
    <isNotNull prepend="AND" property="ParentID">
        `ParentID`=#ParentID#
    </isNotNull>
    <isNotNull prepend="AND" property="Enabled">
        `Enabled`=#Enabled#
    </isNotNull>
    <isNotNull prepend="AND" property="Remark">
        `Remark`=#Remark#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_Start">
        `LastUpdateTime`&gt;=#LastUpdateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_End">
        `LastUpdateTime`&lt;=#LastUpdateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdator">
        `LastUpdator`=#LastUpdator#
    </isNotNull>
  </delete>
   <select id="QueryMenuLastUpdateTime" resultClass="DateTime">
        SELECT MAX(LastUpdateTime) AS LastUpdateTime FROM `Menu`
   </select>
   <select id="QueryMenuRecordCount" resultClass="int" parameterClass="MenuQueryForm">
   SELECT COUNT(*) FROM `Menu` 
    <dynamic prepend="WHERE">
    <isNotNull prepend="AND" property="ID">
        `ID`=#ID#
    </isNotNull>
    <isNotNull prepend="AND" property="Name">
        `Name` LIKE '%$Name$%'
    </isNotNull>
    <isNotNull prepend="AND" property="Creator">
        `Creator`=#Creator#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_Start">
        `CreateTime`&gt;=#CreateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="CreateTime_End">
        `CreateTime`&lt;=#CreateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="Page">
        `Page`=#Page#
    </isNotNull>
    <isNotNull prepend="AND" property="ParentID">
        `ParentID`=#ParentID#
    </isNotNull>
    <isNotNull prepend="AND" property="Enabled">
        `Enabled`=#Enabled#
    </isNotNull>
    <isNotNull prepend="AND" property="Remark">
        `Remark` LIKE '%$Remark$%'
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_Start">
        `LastUpdateTime`&gt;=#LastUpdateTime_Start#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdateTime_End">
        `LastUpdateTime`&lt;=#LastUpdateTime_End#
    </isNotNull>
    <isNotNull prepend="AND" property="LastUpdator">
        `LastUpdator`=#LastUpdator#
    </isNotNull>
    </dynamic>
   </select>
  </statements>
</sqlMap>
