<script type="text/html" id="modal">
<div class="modal" tabindex="-1" role="dialog" <%=data.id?'id="'+data.id+'"':''%>>
	<%if (data.form) {%><form data-parsley-validate><%}%>
	<div class="modal-dialog">
		<div class="modal-content">

			<%
				if (!('header' in data && !data.header)) {
			%>
			<div class="modal-header">
				<button type="button" class="close j-op-close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><%=data.title%></h4>
			</div>
			<% } %>

			<div class="modal-body">
				<%=data.content%>
			</div>

			<%
				if (!('footer' in data && !data.footer)) {
			%>
			<div class="modal-footer">
				<%
					var Buttons = data.button || [];
					var i=0, l = Buttons.length;
					for(; i < l; ++i) {
				%>
					<button type="button" class="btn btn-<%=(Buttons[i].style || 'default')%> btn-flat j-op-btns" data-sn="<%=i%>"><%=Buttons[i].value%></button>
				<%
					}
				%>
				<%if (data.cancel!=false) {%>
				<button type="button" class="btn btn-default btn-flat j-op-cancel"><%=data.cancelValue%></button>
				<%}%>
				<%if (data.ok!=false) {%>
				<button type="submit" class="btn btn-primary btn-flat j-op-ok"><%=data.okValue%></button>
				<%}%>
			</div>
			<% } %>

		</div>
	</div>
	<%if (data.form) {%></form><%}%>
</div>
</script>

<script type="text/html" id="modal_bak">
<div class="md-modal colored-header custom-width md-effect-9" <%=data.id?'id="'+data.id+'"':''%>>

	<%if (data.form) {%>
	<form data-parsley-validate>
	<%}%>

	<div class="md-content">
		<div class="modal-header">
			<h3><%=data.title%></h3>
			<button type="button" class="close md-close j-op-close">&times;</button>
		</div>
		<div class="modal-body form" style="<%=(data.padding?'padding:'+data.padding+';' : '')%>">
			<%=data.content%>
		</div>
		<%
			if (!('footer' in data && !data.footer)) {
		%>
		<div class="modal-footer">
			<%
				var Buttons = data.button || [];
				var i=0, l = Buttons.length;
				for(; i < l; ++i) {
			%>
				<button type="button" class="btn btn-<%=(Buttons[i].style || 'default')%> btn-flat j-op-btns" data-sn="<%=i%>"><%=Buttons[i].value%></button>
			<%
				}
			%>
			<%if (data.cancel!=false) {%>
			<button type="button" class="btn btn-default btn-flat j-op-cancel"><%=data.cancelValue%></button>
			<%}%>
			<%if (data.ok!=false) {%>
			<button type="submit" class="btn btn-primary btn-flat j-op-ok"><%=data.okValue%></button>
			<%}%>
		</div>
		<% } %>
	</div>

	<%if (data.form) {%>
	</form>
	<%}%>

</div>
</script>