<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  <!-- 数据库连接配置信息-->
  <providers resource="providers.config"/>  	
	<database>
		<provider name="oracleClient1.0"/>
		<dataSource name="db" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.21.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.moban.com)));User Id=xxzx;Password=dean;"/>
	</database>
  <!-- XML映射文件配置信息-->
	<sqlMaps>
			<sqlMap resource="Post.xml" />		
	</sqlMaps>
</sqlMapConfig>